.container
    padding-top: 3%

.work-title-div
    font-size: 1rem

.artist-image-div
   background-color: yellow
   width: 30vh
   height: 30vh
   margin: auto

.work-card
    background-color: #5a5959
    margin: 2%

.artist-image
    height: 100%
    width: 100%
    border-radius: 50%

.work-image-div
   width: 100%
   height: 30vh
   margin: auto

.work-image
  height: 100%
  width: 100%

.home
    padding-bottom: 2vh

@media screen and (max-width: 600px) 
   .container
     margin-top: 8%