.container
    padding-top: 3%

.artist-image-div
   background-color: yellow
   width: 30vh
   height: 30vh
   margin: auto

.artist-image
    height: 100%
    width: 100%
    border-radius: 50%


@media screen and (max-width: 600px) 
   .container
     margin-top: 8%