<div class="container" style="margin-top: 10%;">
  <div class="row">
    <div class="col-sm-12">
      <mat-card>
        <div>
            <!-- <img id="comic-card-image" src="https://image.freepik.com/free-vector/colorful-halftone-comic-background_23-2147919239.jpg" alt="comics"> -->
        </div>
        <mat-card-title>
            <div class="mat-card-title-div">
             Add New Comic
            </div>
        </mat-card-title>
        <mat-card-content>

        </mat-card-content>
    </mat-card>
    </div>
  </div>
</div>
