@import "./src/styles.sass"
@import "./src/globalStyles.sass"

// .home
//   background-color: #e82932
//   min-height: 120vh
//   padding-top: 5vh

//   background-color: red
.comic-card-image
    // max-width: 100%
    height: auto
mat-card
    transition: transform 1s
    margin: 3%
mat-card
    &:hover
        transform: scale(1.05)
