<div class="home">
   <div class="container">
    <div class="row" style="padding-top: 7%;">
        <div class="col-md-4">
            <div style="max-width: 80%;">
            <mat-card>
                <div>
                    <!-- <img id="comic-card-image" src="https://image.freepik.com/free-vector/colorful-halftone-comic-background_23-2147919239.jpg" alt="comics"> -->
                    <img id="comic-card-image" class="img-fluidx" mat-card-image src="https://image.freepik.com/free-vector/beautiful-pop-art-colorful-comic-book-template_1035-14155.jpg" alt="Photo of a Shiba Inu">
                </div>
                <!-- <mat-card-title>Comics</mat-card-title> -->
            </mat-card>
           </div>
        </div>
        <div class="col-md-4">
            <div style="max-width: 80%;">
            <mat-card>
                <div>
                    <!-- <img id="comic-card-image" src="https://image.freepik.com/free-vector/colorful-halftone-comic-background_23-2147919239.jpg" alt="comics"> -->
                    <img id="comic-card-image" class="img-fluidx" mat-card-image src="https://i.etsystatic.com/9313766/r/il/95d3b7/1421574236/il_570xN.1421574236_jv7v.jpg" alt="Photo of a Shiba Inu">
                </div>
                <!-- <mat-card-title>Heroes</mat-card-title> -->
            </mat-card>
            </div>
        </div>
        <div class="col-md-4">
            <div style="max-width: 80%;">
            <mat-card>
                <div>
                    <!-- <img id="comic-card-image" src="https://image.freepik.com/free-vector/colorful-halftone-comic-background_23-2147919239.jpg" alt="comics"> -->
                    <img id="comic-card-image" class="img-fluidx" mat-card-image src="https://thumbs.dreamstime.com/b/cute-artist-cartoon-character-job-concept-cute-artist-cartoon-character-job-concept-166872542.jpg" alt="Photo of a Shiba Inu">
                </div>
                <!-- <mat-card-title>Artists</mat-card-title> -->
            </mat-card>
           </div>
        </div>
    </div>
   </div>
</div>
