<div class="comic-read-div">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <button mat-fab color="warn" aria-label="Example icon button with a home icon">
                    <mat-icon>home</mat-icon>
                  </button>
            </div>
            <div class="col-md-6">
                <div class="page-view">
                 
                </div>
            </div>
            <div class="col-md-3">Back</div>
        </div>
    </div>
</div>

