<div class="homex">
<div class="container">
    <div class="row" style="padding-top: 5%;">
     <div class="col-md-3" *ngFor="let comic of comics">
         <div class="comic-card-div">
         <mat-card (click)="onComicCardClick(comic.comicName)">
             <div>
                 <!-- <img id="comic-card-image" src="https://image.freepik.com/free-vector/colorful-halftone-comic-background_23-2147919239.jpg" alt="comics"> -->
                 <img class="comic-card-image" mat-card-image [src]="comic.imagePathCard" alt="Photo of a Shiba Inu">
             </div>
             <mat-card-title>{{comic.comicName}}</mat-card-title>
         </mat-card>
        </div>
     </div>
    </div>
    <router-outlet></router-outlet>
</div>
</div>